*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #ffdc00;
  color: #001f3f;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 2rem 2rem 0;
  text-rendering: optimizeLegibility;
}

main,
header {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: -4px 5px #001f3f;
}

main {
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.user {
  align-items: center;
  background-color: #fff;
  box-shadow: -10px 12px 0 #001f3f;
  color: #001f3f;
  display: flex;
  margin-top: 1.5rem;
  padding: 1.25rem;
}

.user:first-child {
  margin-top: 0;
}

.user__name {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.user__tunnels {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-top: 14px;
}

.user__tunnels-value {
  font-size: 3rem;
  margin-left: 0.25rem;
}

.user__actions {
  display: flex;
  margin-left: auto;
}

.user__actions-add,
.user__actions-remove {
  align-items: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  outline: none;
  transform: scale(1);
  transition: transform 0.1s;
  width: 50px;
}

.user__actions-add:active,
.user__actions-remove:active {
  transform: scale(0.9);
  transition: 0s;
}

.user__actions-add {
  background-color: hsl(127, 73%, 59%);
  margin-left: 0.75rem;
}

.user__actions-remove {
  background-color: #ff4136;
}

@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }

  .user__actions {
    flex-direction: column;
  }

  .user__actions-add {
    margin-bottom: 0.75rem;
    margin-left: 0;
    order: -1;
  }
}
