*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(52, 100%, 50%),
    hsla(42, 100%, 55%, 1)
  );
  background-attachment: fixed;
  color: #001f3f;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  padding: 2rem;
  text-rendering: optimizeLegibility;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: -4px 5px #001f3f;
}

main {
  margin-top: 2rem;
}

footer {
  color: #fff;
  font-size: 12px;
  margin-top: 2rem;
  text-shadow: -1.5px 2px #001f3f;
}

.user {
  align-items: center;
  background-color: #fff;
  box-shadow: -10px 12px 0 #001f3f;
  color: #001f3f;
  display: flex;
  margin-top: 1.5rem;
  padding: 1.25rem 1.5rem;
  position: relative;
  z-index: 1;
}

.user.drag-target {
  z-index: 0;
}

.user:first-child {
  margin-top: 0;
}

.user__name {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.user__tunnels {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-top: 14px;
}

.user__tunnels-value {
  font-size: 4rem;
  margin-left: 0.25rem;
}

.user__legs {
  display: none;
  image-rendering: pixelated;
  position: absolute;
  right: 0;
  top: -39px;
  width: 170px;
}

.drag-target .user__legs {
  display: block;
}

.user__actions {
  display: flex;
  margin-left: auto;
}

.user__actions-ball {
  background-color: #85144b;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.drag-target .user__actions-ball {
  display: none;
}

.user__actions-add,
.user__actions-remove {
  align-items: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  outline: none;
  position: relative;
  transform: scale(1);
  transition: transform 0.1s;
  width: 50px;
}

.user__actions-add:active,
.user__actions-remove:active {
  transform: scale(0.9);
  transition: 0s;
}

.user__actions-add::after,
.user__actions-add::before,
.user__actions-remove::before {
  background-color: #fff;
  content: '';
  height: 3px;
  left: 32.5%;
  position: absolute;
  top: calc(50% - 1.5px);
  width: 35%;
}

.user__actions-add::after {
  transform: rotate(90deg);
}

.user__actions-add {
  background-color: hsl(127, 73%, 59%);
  margin-left: 0.75rem;
}

.user__actions-remove {
  background-color: #ff4136;
}

@media (max-width: 375px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .user__actions {
    flex-direction: column;
  }

  .user__actions-add {
    margin-bottom: 0.75rem;
    margin-left: 0;
    order: -1;
  }
}

@media (max-height: 600px) {
  main {
    margin-bottom: 0;
  }
}
