<ol>
  <li>3 typer av objekt är ok att tunnla med, bollar, frukter och pantburkar så länge objektet överskrider en radie på
    65,4 mm. (Diskuterbart när det gäller burkar samt flaskor)</li>

  <li>Används en pantburk SKALL burken pantas och kvitto ska tas bild på samt läggas upp i gruppchatten inom 24h.</li>

  <li>En tunnel är en tunnel, har ingen aning vad denna regeln tillför, men ni vet. Man är lite bjussig osv.</li>

  <li>Tunnlar räknas endast om det sker på någon av deltagarna i utmaningen.</li>

  <li>Från och med 8 maj är det strikt förbjudet att läsa öresundstågets kompendier om tunnlar!</li>

  <li>Tävlingen avslutas 23:59:59 på deadline day (31 Augusti)</li>

  <li>När tävlingen är avslutad får den som slagit flest tunnlar ett pris, samt den som mottagit flest tunnlar ett
    straff. (Pris / Straff to be decided)</li>
</ol>
